.git/
.github/
/chamaeleon/
/fuchs/
/hamster/
papagei/traefik/
papagei/package-lock.json
papagei/package.json
papagei/.gitignore
papagei/.linthtmlrc.yaml
papagei/docker-compose.yml
papagei/eslint.config.mjs
target/
.gitignore
.dockerignore
.helmignore
Cargo.toml
Cargo.lock
LICENSE
README.md